main#contents {display: block;}
.mainVisual{ width:100vw; height: 830px; background-image:url('https://automatexshop.cafe24.com/web/imgs/main/main.jpg'); background-repeat: no-repeat; background-size:cover; background-position: center;}
