html, body {
    width: 850px;
    height: auto;
    margin: 0 auto;
    -webkit-tap-highlight-color:transparent;
}

main, section{
    width: 850px;
    height: auto;
    overflow: hidden;
    position: relative;
}

img{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

img.bg{
    position: relative;
    z-index: -1;
}



.st1 .s_tit{
    top: 50px;
}
.st1 .tit{
    top: 150px;
    width: 570px;
}




.st2{
    background-color: #0a0a0a;
    height: 5000px;
}
.st2 .tit{
    top: 100px;
}
.st2 .con{
    top: 330px;
}




.st3{
    background-color: #222222;
    height: 8576px;
}
.st3 .tit{
    top: 160px;
}
.st3 .con{
    top: 330px;
}



.st5 .fire-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1150px;
    width: 100%;
}
.st5 .fire-container .fire{
    position: relative;
    margin: 0 20px;
}


.st6 img{
    position: relative;
}
.st6 .container1{
    background-color: #ffaa5f;
}
.st6 .container1 .con1{
    margin: 50px 0 0 35px;
}
.st6 .container1 .tit1{
    margin-top: -3px;
}
.st6 .container2{
    background-color: #f9954a;
    padding-bottom: 150px;
}
.st6 .container2 .tit2{
    width: 93%;
    left: 30px;
}
.st6 .container2 .con2{
    width: 90%;
    left: 30px;
    top: 50px;
}
.st6 .border{
    background-color: #e05a3d;
    height: 20px;
    width: 100%;
}



.st7 {
    background-color: #fffbf0;
    height: 800px;
}
.st7 .con{
    top: 110px;
    width: 97%;
    margin-left: auto;
    margin-right: 0;
}


.st8{
    background-color: #f6821f;
    height: 800px;
}
.st8 .con{
    top: -230px;
    max-width: 10000px;
    width: 150%;
    left: -270px;
}
.st8 .tit{
    width: 85%;
    top: 200px;
}

.st9 img{
    position: relative;
}


.st10{
    background-color: #ebebeb;
    padding-bottom: 80px;
}
.st10 img{
    position: relative;
}
.st10 .tit{
    margin: 100px 0 50px;
}